<div class="header-wrapper">
    <!-- 検索バー -->
    <div class="search-bar">
        <%= form_tag({controller: "tweets", action: "index"}, method: :get) do %>
            <%= label_tag :search, "検索" %> <!-- 検索のラベルを追加 -->
            <%= text_field_tag :search, nil, placeholder: "検索", class: "search-input" %>
            <%= submit_tag '検索', class: "search-submit" %> <!-- 検索ボタンにクラスを追加 -->
        <% end %>
    </div>

    <!-- アイコン・出品ボタン -->
    <div class="menu-icons">
        <%= link_to user_path(current_user.id) do %>
            <i class="fa-solid fa-circle-user" style="font-size: 40px; color: #81d9d7;"></i>
        <% end %>

        <i class="fa-solid fa-heart" style="font-size: 40px; color: #ffc2f7;"></i>

        <%= link_to "出品", new_tweet_path, class: "listing-button" %> <!-- 出品ボタン -->
    </div>
</div>

<!-- 商品リスト -->
<div class="tweets-container">
    <% @tweets.each do |tweet| %>
        <div class="tweet">
            <% if tweet.image.attached? %>
                <%= link_to tweet_path(tweet.id) do %>
                    <%= image_tag tweet.image, size: "250x200", class: "tweet-image" %> <!-- 画像にクラスを追加 -->
                <% end %>
            <% end %>
            
            <div class="tweet-info">
                <p><%= tweet.user.name %></p> <!-- ユーザー名 -->
                <p><%= tweet.body %></p> <!-- 投稿内容 -->
            </div>
        </div>
    <% end %>
</div>

<!-- ページネーション -->
<div class="pagination">
    <%= paginate @tweets %>
</div>

<!-- タグ検索フォーム -->
<%= form_tag({controller: "tweets", action: "index"}, method: :get) do %>
    <% Tag.all.each do |tag| %>
        <label>
            <%= check_box_tag :tag_ids, tag.id %>
            <%= tag.name %>
        </label>
    <% end %>
    <%= submit_tag '検索' %>
<% end %>
